Source: sfbm
Section: utils
Priority: optional
Maintainer: Ka Hu <kahu2000@gmail.com>
X-Python-Version: >= 2.7
Build-Depends: debhelper (>= 8.0.0),
 python,
 python-all-dev,
 python-qt4
Standards-Version: 3.9.2
Homepage: https://github.com/kahu/sfbm

Package: sfbm
Architecture: all
Depends: ${python2:Depends}, ${misc:Depends},
 python (>= 2.7),
 python-qt4,
 python-xdg
Suggests: kde-runtime
Description: A simple file browser in the systray.
 Stupid File Browser Menu is a simple systray application for browsing
 local files and opening them.
