Source: sfbm
Section: utils
Priority: optional
Maintainer: Ka Hu <kahu2000@gmail.com>
X-Python3-Version: >= 3.2
Build-Depends: debhelper (>= 8.0.0),
 python3,
 python3-all-dev,
 python3-pyqt4
Standards-Version: 3.9.2
Homepage: https://github.com/kahu/sfbm
#Vcs-Git: git://git.debian.org/collab-maint/sfbm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/sfbm.git;a=summary

Package: sfbm
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3, python3-pyqt4
Suggests: kde-runtime
Description: A simple file browser in the systray.
 Stupid File Browser Menu is a simple systray application for browsing
 local files and opening them.
